<ul class="pagination">
	<li {{#unless data.costumes.previous}}class="disabled"{{/unless}}>
		<a href="{{paginationPreviousUrl data.costumes.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>
	{{{paginationNavigation data.costumes.pages data.costumes.currentPage data.costumes.totalPages}}}
	<li {{#unless data.costumes.next}}class="disabled"{{/unless}}>
		<a href="{{paginationNextUrl data.costumes.next data.costumes.totalPages}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>
